*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: 1.6rem;
    --head: calc(1rem + 5vw);
    --bg-color: #f6b93b;
}

body{
    font-family: "Poppins",sans-serif;      
}

.hero-section{
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1586190848861-99aa4a171e90?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    animation: slide 1s ease-in-out;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.9;
    padding: 0rem 1.4rem;
    color: white;
    transform: translateY(-100%);
    animation: movedown 850ms ease-in 1s forwards;
}

@keyframes movedown {
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0%);
    }
}

.navbar ul {
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}

.navbar ul li a{
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    border-bottom: 2px solid white;

}


.hero-text{
    color: white;
    height: 90.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes identifier {
    
} slide {
    form {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-0%);
    }
}

.hero-text::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    top: 0;
    opacity: 0.6;
}

.hero-text a {
    color:white;
    background: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.9rem 1rem;
    margin: 0.75rem auto;
    display: block;
    transition: opacity 250ms linear;
}

.hero-text a:hover{
    opacity: 0.76;
}

.hero-text h2{
    font-size: var(--head);
}

.hero-text p{
    font-size: 3rem;
}

